@{
  ViewData["Title"] = "Index";
}
<button id="insert" class="btn btn-primary">Insert</button>
<table id="studentTable" class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Khoa viện</th>
      <th>Địa chỉ</th>
      <th>Website</th>
    </tr>
  </thead>
</table>

<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Khoa viện</label>
            <div class="col-sm-10">
              <input class="form-control" id="name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Tên</label>
            <div class="col-sm-10">
              <input class="form-control" id="deptEgName" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Địa chỉ</label>
            <div class="col-sm-10">
              <input class="form-control" id="address" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Website</label>
            <div class="col-sm-10">
              <input class="form-control" id="website">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveModal">Save changes</button>
      </div>
    </div>
  </div>
</div>

@section Scripts{
  <script>
    $(document).ready(function () {
      getStudentList();

      $('#insert').click(function () {
        $('.modal-title').text("Add Department");
        $('.modal').modal({ show: true });
      });

      $('.modal').on('hidden.bs.modal', function () {
        $('#name').val('');
        $('#address').val('');
        $('#website').val('');
      });

      $('#saveModal').click(function () {
        var obj = Student;
        obj.deptname = $('#name').val();
        obj.address = $('#address').val();
        obj.website = $('#website').val();
        obj.deptegname = $('#deptEgName').val();

        $.ajax({
          url: '/api/Department/Add',
          type: 'POST',
          data: JSON.stringify(obj),
          contentType: 'application/json',
          dataType: 'html',
          success: function (msg) {
            $('.modal').modal('hide');
            getStudentList();
            $.notify("Thêm thành công");
          },
          error: function () {
            $('.modal').modal('hide');
            $.notify("Da xay ra loi");
          }
        });
        
      });

    });

    var Student = {
      deptname: "",
      deptegname: "",
      address: "",
      website: ""
    }

    // Get all Employees to display
    function getStudentList() {
      $.ajax({
        url: '/api/Department/',
        type: 'GET',
        dataType: 'json',
        success: function (students) {
          studentListSuccess(students);
        },
        error: function (request, message, error) {
          alert("Da xay ra loi")
        }
      });
    }

    function studentListSuccess(students) {
      $("#studentTable tbody").remove();
      $.each(students, function (index, student) {
        studentAddRow(student);
      });
    }

    function studentAddRow(employee) {
      if ($("#studentTable tbody").length == 0) {
        $("#studentTable").append("<tbody></tbody>");
      }

      $("#studentTable tbody").append(
        studentBuildTableRow(employee));
    }

    function studentBuildTableRow(student) {
      var newRow =
        `<tr>` +
        `<td>${student.id}</td>` +
        `<td>${student.deptname}(${student.deptEgName})</td>` +
        `<td>${student.address}</td>` +
        `<td>${student.website}</td>` +
        `</tr>`;
      return newRow;
    }

    function editStudentModal(item) {
      $('.modal-title').text('Edit Student');

      console.log($(item).data('name'));
      $('#id').val($(item).data('id'));
      $('#code').val($(item).data('code'));
      $('#name').val($(item).data('name'));
      $('#information').val($(item).data('information'));

      $('.modal').modal({ show: true });
    }

    function deleteStudent(item) {
      var id = $(item).data('id');
      if (confirm("Bạn có chắc chắn muốn xóa: " + id)) {
        $.ajax({
          url: '/api/Student/Delete/' + id,
          type: 'DELETE',
          dataType: 'html',
          success: function (msg) {
            getStudentList();
            $.notify("Xoa thanh cong");
          },
          error: function (request, message, error) {
            alert("Da xay ra loi");
          }
        });
      }
    }



  </script>
}

